.row{
    position: relative;
    left: 15rem;
    top: 2rem;
}


.headers{
    width: 100%;
    border: 1px solid blue;
    display: flex;
}
.headers .teacher{
    width: 40%;
}
.headers .teacher p{
    font-size:1rem ;
    font-weight: bold;
    color: white;
    padding: 3px 4px;
    background-color: rgba(220, 6, 6, 0.874);
    text-align: center;
}
.headers .teacher .options{
    display: flex;
    writing-mode:horizontal-tb;
}
.headers .teacher .options li {
    transform: rotate(270deg);
    list-style: none;
    width: 100%;    
    font-weight: bolder;
    position: relative;
    bottom: 20px;
    border: 1px solid;
}